<!-- project/templates/project/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Trip Planner</title>
    <link rel="stylesheet" href="{% static 'project/css/styles.css' %}">
</head>
<body>
    <nav>
        <div class="nav-content">
            <a href="{% url 'show_all' %}" class="nav-brand">Trip Planner</a>
            <div class="nav-links">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'show_all' %}">My Trips</a>
                    {% with user_profile=request.user.trip_profile.first %}
                        {% if user_profile %}
                            <a href="{% url 'show_profile' user_profile.pk %}">My Profile</a>
                        {% else %}
                            <a href="{% url 'create_profile' %}">Create Profile</a>
                        {% endif %}
                    {% endwith %}
                {% else %}
                    <a href="{% url 'create_profile' %}">Sign Up</a>
                {% endif %}
            </div>
            
            <div class="user-info">
                {% if request.user.is_authenticated %}
                    <span>Welcome, {{ request.user.username }}!</span>
                    <form class="logout-form" action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="logout-btn">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}" class="login-link">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>