{% extends 'quotes/base.html' %}

{% block content %}
    <h1>About Stephen King</h1>
    
    <p>Stephen  King was born on September 21, 1947 in Portland, Maine.</p>
    
    <p>King has published over 60 novels and 200 short stories.</p>
    
    <h3>Famous Works Include:</h3>
    <ul>
        <li>The Shining (1977)</li>
        <li>IT (1986)</li>
        <li>Pet Sematary (1983)</li>
    </ul>
    
    <h2>About This Website</h2>
    <p>Created for CS412 Web Development by Labeeb Alam.</p>
{% endblock %}